/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul > li {
    list-style: none;
}

a {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
}


/* Image styling */
.overview-hero-image img,
.card img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.stories img{
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}


/* Overview Hero styling */
.overview-hero {
    background-color: #f5f5f5;
    padding: 40px 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.overview-hero-text {
    text-align: left;
    margin-left: 40px;
}

.overview-hero-text h2 {
    font-size: 24px;
    color: #48BB78;
    margin: 0;
}

.overview-hero-text p {
    font-size: 16px;
}

/* Learn About section styling */
.learn-about {
    padding: 40px 0;
}

.learn-about .container {
    display: flex;
    flex-direction: column;
}

.learn-about h2 {
    font-size: 28px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.card {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.card-body h3 {
    font-size: 21px;
    color: #48BB78;
    margin: 0;
}

.card-body p {
    font-size: 16px;
}

/* Testing section styling */
.testing {
    background-color: #f5f5f5;
    padding: 40px 0;
    text-align: left;
}

.testing .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testing-description h2 {
    font-size: 28px;
}

.testing-description p {
    font-size: 16px;
}

.cta {
    text-align: center;
    width: 100%;
}

.cta .btn {
    text-align: center;
    width: 100%;
    background-color: #4A5568;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
}

.cta a {
    color: #fff;
}

/* Stories section styling */
.stories {
    padding: 40px 0;
}

.stories .container {
    display: flex;
    flex-direction: column;
}
.stories h2 {
    font-size: 28px;
    color: #5A67D8;
    margin: 0px;
}

.stories article {
    display: flex;
    margin: 30px 0;
}

.stories article img {
    max-width:auto;
    margin-right: 20px;
    border-radius: 50%; 
}

.article-body h3 {
    font-size: 20px;
    margin: 0;
}

.article-body p {
    font-size: 16px;
}

/* Newsletter section styling */
.newsletter {
    background-color: #48BB78;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.newsletter .container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.newsletter h3 {
    font-size: 24px;
    color: #5A67D8;
    margin: 0px;
}

.newsletter p {
    font-size: 16px;
    text-align: left;
}

.newsletter form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}

.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    margin: 0px 0;
}

.newsletter .btn {
    height: 100%;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10
}
